<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>
</head>
<body class="container">
    <h1><a href="/new">ДОБАВИТЬ</a></h1>
    <h1><a href="/status">СТАТУСНЫЙ СПИСОК</a></h1>
    {% if people.count > 0 %}
    <h2>Класс</h2>
    <table>
        <thead><th>Имя</th><th>Фамилия</th><th></th></thead>
        {% for person in people %}
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.surname }}</td>
            <td><a href="edit/{{person.id}}">Изменить</a> | <a href="delete/{{person.id}}">Удалить</a></td>
            {% if person.is_weak == True %}
                <td>Болеет</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>